<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Chit-Chat</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.js"></script>
  <script src="/javascripts/styling.js"></script>
</head>
<body>
<!-- image having parallax effect -->
<div class="parallax">
  <div class="title"><h>Chit_Chat...</h></div>
</div>
<!-- header -->
<div class="header"><p><a href="#t">CHIT_CHAT...</a><p></div>
<!-- again an image having parallax effect -->
<div class="parallax2">
  <div class="type-style"  id="t">Wanna Chat Anonymously???<br>
    We Are Here For You.<br>
    Just Click On Chat Button<br>
    And Start Gossiping<br>
    Without Mentioning Your Name.</div>
</div>
<div class="btn-container">
  <a href="/users"><div class="button">CHAT<i class="fa fa-arrow-right" aria-hidden="true"></i></div></a><br><br><br>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-instagram"></a>
</div>
<div class="a">
  <div class="wrapper">
    <div class="warning">Your Details Will<br>
      Be Hidden From<br>
      Others But Please<br>
      Don't Post Any<br>
        Antisocial Messages.</div>
  </div>
    <div class="ribbon-wrapper-green"></div>
  </div>​
  <div>
    <div class="footer">CopyRight@CHIT_CHAT</div>
  </div>
</body>
</html>
